* {
    box-sizing: border-box;
}

body {
    margin: 20px 60px;
    font-family: 'Open Sans Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:800px) {
    body {
        margin: 10px 20px;
    }
}